<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>School Class Form</h1>
    <%= form_for @school_class do |f| %>
      <%= f.label 'title' %>
      <%= f.text_field :title %>
      <%= f.label 'room_number' %>
      <%= f.number_field :room_number %>
      <%= f.submit %>
    <% end %>
  </body>
</html>
